div.lexicopiaEntry {
    padding: 20px;
    font-size: 12pt;
    font-family: Helvetica, sans-serif;
    color: black;
}

div.lexicopiaEntry > h1 {
    padding: 10px;
    background-color: lightgray;
    font-size: 20pt;
    font-weight: normal;
    font-family: Verdana;
    color: black;
    display: block;
}

div.lexicopiaEntry > h1 > span.lexicopiaEnglish {
    font-size: 12pt;
    font-family: Helvetica, sans-serif;
}

div.lexicopiaEntry a:link {
    color:#35979c;
    text-decoration: none;
}

div.lexicopiaEntry a:visited {
    color:#35979c;
    text-decoration: none;
}

div.lexicopiaEntry a:hover {
    text-decoration: underline;
}

#posText, #enText, #posMinus, #enMinus {
    display: none;
}

#posPlus, #enPlus {
    display: inline;
}

div.lexicopiaEntry > dl > dt {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    color: dimgray;
}

div.lexicopiaEntry > dl > dd {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Verdana;
}

div.lexicopiaEntry > ul {
    padding-top: 20px;
    font-size: small;
    padding-left: 20px;
}










